.pendingpayment {
}

.pendingpayment1 {
  padding-top: 20px;
  /* width: 97%; */
  margin: auto;
}

.pendingpayment1 p {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #3f3f3f;
  margin: 0;
}

.pendingpayment2 button {
  width: 176px;
  height: 43px;
  background-color: #40af0c;
  border: none;
  outline: none;
  border-radius: 4px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 19.1px;
  color: #ffffff;
  margin: 0;
  cursor: pointer;
}

.pendingpayment3 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.pendingpayment4 {
  width: 35px;
  height: 25px;
  background-color: #2155cd;
  border-radius: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pendingpayment5 {
  width: 114px;
  height: 25px;
  background-color: #ff0000;
  border-radius: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.pendingpayment5 p {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 16.37px;
  color: #ffffff;
  margin: 0;
  cursor: pointer;
}

.pendingpayment6 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  margin-top: 30px;
}

.pendingpayment7 {
  display: flex;
  gap: 10px;
}

.pendingpayment6 h6 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 21.82px;
  color: #000000;
  margin: 0;
  text-transform: uppercase;
}

.pendingpayment6 span {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 21.82px;
  color: #2155cd;
  margin: 0;
  cursor: pointer;
  text-transform: uppercase;
}

.pendingpayment8 {
}

.pendingpayment8 p {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 21.82px;
  color: #000000;
  margin: 0;
  cursor: pointer;
  text-transform: uppercase;
}

.pendingpayment9 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.pendingpayment9 p {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin: 0;
}

.pendingpayment10 {
  width: 101px;
  height: 32px;
  border: 1px solid #3f3f3f;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

.pendingpayment10 p {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  margin: 0;
}

.pendingpayment11 {
  margin-top: 60px;
}

/* Responsive css for pendingpayment  */

@media screen and (max-width: 580px) {
  .pendingpayment6{
    gap: 10px;
  }
}
