.cancel {
  margin-top: 20px;
}

.cancel1 {
  width: auto;
  height: auto;
  background-color: #2155cd;
  padding: 12px 42px 12px 42px;
  border-radius: 4px;
  cursor: pointer;
}

.cancel1 p {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 21.82px;
  color: #ffffff;
  margin: 0;
}

.cancel2 {
  width: auto;
  height: auto;
  background-color: #40af0c;
  padding: 12px 43px 12px 43px;
  border-radius: 4px;
  cursor: pointer;
}

.cancel2 p {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 21.82px;
  color: #ffffff;
  margin: 0;
}

.cancel3 {
  width: auto;
  height: auto;
  background-color: #ff0000;
  padding: 12px 34px 12px 34px;
  border-radius: 4px;
  cursor: pointer;
}

.cancel3 p {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 21.82px;
  color: #ffffff;
  margin: 0;
}

.cancel4 {
  width: 70%;
  height: 75px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
}

.cancel5 {
  padding-left: 30px;
}

.cancel5 button {
  width: auto;
  height: auto;
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 12px 42px 12px 42px;
  background-color: #2155cd;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 21.82px;
  color: #ffffff;
  margin: 0;
}

.cancel4 input {
  flex: 1;
  border: none;
  outline: none;
  padding-right: 10px;
}

.cancel5 {
}

.cancel5 p {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 21.82px;
  color: #2155cd;
  margin: 0;
  text-decoration: underline;
}



/* Responsive css for Refund cancel  */

@media screen and (max-width: 580px) {
  .cancel4 {
    width: 100%;
  }
  .cancel5 button {
    padding: 12px 15px 12px 15px;
  }

  .cancel1, .cancel2, .cancel3 {
    padding: 12px 15px 12px 15px;
  }
}
