.itreport {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 20px;
  gap: 20px;
}

.itreport button:nth-child(1) {
  width: 138px;
  height: 45px;
  background-color: #00ab55;
  border: none;
  border-radius: 4px;
  outline: none;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19.1px;
  color: #ffffff;
  margin: 0;
}

.itreport button:nth-child(2) {
  width: 138px;
  height: 45px;
  background-color: #40af0c;
  border: none;
  border-radius: 4px;
  outline: none;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19.1px;
  color: #ffffff;
  margin: 0;
}

.itreport1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.itreport2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  margin-top: 30px;
  gap: 30px;
}

.itreport3{

}

.itreport3 p{
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  margin: 0;
}




/* ContentAdded Modal css */



.ContentAddedmodal1{
  margin-top: 20px;
  margin-bottom: 30px;

}



.ContentAddedmodal2{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}


.ContentAddedmodal2 p{
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 21.82px;
  color: #000000;
  margin: 0;
}