.payreceived {
  margin-top: 20px;
}

.payreceived1 {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.payreceived1 button {
  width: auto;
  height: auto;
  background-color: #2155cd;
  border-radius: 4px;
  padding: 12px 25px 12px 25px;
  border: none;
  outline: none;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
  margin: 0;
  cursor: pointer;
}

